ALCHEMY_ID=86wTK178jC4XNO9sh-iVI7P5fV1tg_Dx
COINMARKETCAP_API=0b449d21-3490-4ef5-888b-c492de5e8799
NEXT_PUBLIC_0X_API_KEY=c9f13c84-9fcb-4f42-aa30-a11b0d016aa5

TELEGRAM=
GITHUB=
DISCORD=
TWITTER=
NFT_API_KEY=0vRGdBdsof06m2vFAGZsUUgq5J8GUamGoW1JZzgbg3QlenVl